<launch>
	<rosparam command="load" file="$(find supervision_parameters)/supervision_config.yaml" />
	<include file="$(find robot_navigation)/launch/robot_navigation.launch" />
	<node name="robot_guide" pkg="robot_guide" type="robot_guide"  />
	<node name="guide_pomdp" pkg="appl" type="controlpipe"  >
		<param name="problem_name" value="guide_pomdp" />
	</node>
	 <node name="control_speed_pomdp" pkg="appl" type="controlpipe" >
		<param name="problem_name" value="control_speed_pomdp" />
	</node>

</launch>